@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin fluid-padding-inline ($min: 70, $max: 140) {
    padding-inline: clamp(#{$min}px, #{$max / 1442 * 100}vw, #{$max}px);
}

@mixin fluid-gap-header-menu ($min: 40, $max: 90) {
    column-gap: clamp(#{$min}px, #{$max / 1442 * 100}vw, #{$max}px);
}

@mixin fluid-title-size-about ($min: 40, $max: 70){
    font-size: clamp(#{$min}px, #{$max / 1442 * 100}vw, #{$max}px);
}

@mixin fluid-subheading-about ($min: 14, $max: 20){
    font-size: clamp(#{$min}px, #{$max / 1442 * 100}vw, #{$max}px);
}

@mixin service-title-fluid ($min: 32, $max: 50) {
    font-size: clamp(#{$min}px, #{$max / 1442 * 100}vw, #{$max}px);
}
