@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-SemiBold.woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Volkhov;
  src: url(/fonts/Volkhov-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Open Sans;
  src: url(/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Open sans;
  src: url(/fonts/OpenSans-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 17px;
  padding-inline: 75px;
}

.container {
  max-width: 1230px;
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --font-family-base: Open Sans;
  --font-family-alternative: Volkhov;
  --font-family-additional: Poppins;
  --color-dark: #000000;
  --color-orange-base: #DF6951;
  --color-alternative: #181E4B;
  --animation-time: .3s;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header__inner {
  padding-inline: 45px;
  padding-block: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-right: 25px;
}
.header__menu {
  display: flex;
  align-items: center;
  column-gap: clamp(40px, 6.241331484vw, 90px);
}
.header__menu-list {
  list-style-type: none;
  display: flex;
  column-gap: 55px;
}
.header__menu-link {
  text-decoration: none;
  color: var(--color-dark);
  font-family: var(--font-family-additional);
  font-weight: 500;
}
.header__button-wrapper {
  display: flex;
  gap: 50px;
}
.header__button-login {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 9px 22px;
}
.header__button {
  padding: 9px 22px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.button {
  font-family: var(--font-family-additional);
  font-weight: 500;
  font-size: 17px;
}

.logo__image {
  display: block;
}

.about__agency-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__agency-info {
  display: flex;
  flex-direction: column;
  max-width: 545px;
  row-gap: 35px;
}
.about__agency-subheadings {
  font-family: var(--font-family-additional);
  text-transform: uppercase;
  font-size: 20px;
  color: var(--color-orange-base);
  font-weight: 700;
}
.about__agency-title {
  font-family: var(--font-family-alternative);
  font-size: 70px;
  color: #181E4B;
  margin-top: 25px;
  position: relative;
}
.about__agency-title::before {
  content: "";
  display: block;
  background-image: url("/icons/decoration-about-agency-title.svg");
  background-repeat: no-repeat;
  width: 396px;
  height: 14px;
  position: absolute;
  right: -65px;
  top: 70px;
  z-index: -10;
}
.about__agency-subtitle {
  font-family: var(--font-family-additional);
  font-weight: 500;
  color: #5E6282;
  font-size: 19px;
  line-height: 187.5%;
  margin-top: 30px;
}
.about__agency-buttons {
  display: flex;
  align-items: center;
  column-gap: 45px;
}
.about__agency-button_more {
  display: inline-block;
  text-decoration: none;
  padding: 16px 25px;
  background-color: #F1A501;
  border-radius: 10px;
  color: #fff;
  font-family: var(--font-family-base);
  font-weight: 500;
}
.about__agency-button_play {
  background-image: url("/icons/about__agency-button-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  background-color: var(--color-orange-base);
  border-radius: 50%;
  padding: 25px;
  border: none;
  cursor: pointer;
}
.about__agency-button_wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.about__button-play_info {
  color: #686D77;
  font-family: var(--font-family-additional);
  font-weight: 500;
  font-size: 17px;
}

@media (max-width: 1162px) {
  .header__inner {
    flex-wrap: wrap;
  }
}