@import
    'globals',
    'normalize',
    'mixins';

.header {
   
    &__inner {
        padding-inline: 45px;
        padding-block: 45px;
        @include flex-center;
    }

    &__logo {
        margin-right: 25px;
    }

    &__menu {
        display: flex;
        align-items: center;
        @include fluid-gap-header-menu;
    }
    
    &__menu-list {
        list-style-type: none;
        display: flex;
        column-gap: 55px;
    }

    &__menu-link {
        text-decoration: none;
        color: var(--color-dark);
        font-family: var(--font-family-additional);
        font-weight: 500;
    }

    &__button-wrapper {
        display: flex;
        gap: 50px;
    }

    &__button-login {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 9px 22px;
        
    }

   
    &__button {
        padding: 9px 22px;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
    }
}

.button {
    font-family: var(--font-family-additional);
    font-weight: 500;
    font-size: 17px;
}

.logo {
    &__image {
        display: block;
    }
}

.about {
    &__agency-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__agency-info {
        display: flex;
        flex-direction: column;
        max-width: 545px;
        row-gap: 35px;
    }

    &__agency-subheadings {
        font-family: var(--font-family-additional);
        text-transform: uppercase;
        font-size: 20px;
        color: var(--color-orange-base);
        font-weight: 700;
    }

    &__agency-title {
        font-family: var(--font-family-alternative);
        font-size: 70px;
        color: #181E4B;
        margin-top: 25px;
    }

    &__agency-subtitle {
        font-family: var(--font-family-additional);
        font-weight: 500;
        color: #5E6282;
        font-size: 19px;
        line-height: 187.5%;
        margin-top: 30px;
    }

    &__agency-buttons {
        display: flex;
        align-items: center;
        column-gap: 45px;
    }

    &__agency-button_more {
        display: inline-block;
        text-decoration: none;
        padding: 16px 25px;
        background-color: #F1A501;
        border-radius: 10px;
        color: #fff;
        font-family: var( --font-family-base);
        font-weight: 500;
    }

    &__agency-button_play {
        background-image: url('/icons/about__agency-button-play.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        background-color: var(--color-orange-base);
        border-radius: 50%;
        padding: 25px;
        border: none;
        cursor: pointer;
    }

    &__agency-button_wrapper {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__button-play_info {
        color: #686D77;
        font-family: var(--font-family-additional);
        font-weight: 500;
        font-size: 17px;
    }
}

@media (max-width: 1162px) {
    .header {
        &__inner {
            flex-wrap: wrap;
        }

        &__menu-link {
            
        }
    }
}

@media (max-width: 1000px) {
    .header {
       
    }
}
