@import
    'globals',
    'normalize',
    'mixins';

.header {
   
    &__inner {
        padding-inline: 45px;
        padding-block: 45px;
        @include flex-center;
    }

    &__logo {
        margin-right: 25px;
    }

    &__menu {
        display: flex;
        align-items: center;
        @include fluid-gap-header-menu;
    }
    
    &__menu-list {
        list-style-type: none;
        display: flex;
        column-gap: 55px;
    }

    &__menu-link {
        padding-block: 15px;
        text-decoration: none;
        color: var(--color-dark);
        font-family: var(--font-family-additional);
        font-weight: 500;
    }

    &__button-wrapper {
        display: flex;
        gap: 50px;
    }

    &__button-login {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 9px 22px;
        
    }

   
    &__button {
        max-width: 210px;
        padding: 9px 22px;
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
    }
}

.button {
    font-family: var(--font-family-additional);
    font-weight: 500;
    font-size: 17px;
}

.logo {
    &__image {
        display: block;
    }
}

.about {
    &__agency-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__agency-info {
        display: flex;
        flex-direction: column;
        max-width: 545px;
        row-gap: 35px;
    }

    &__agency-subheadings {
        font-family: var(--font-family-additional);
        text-transform: uppercase;
        @include fluid-subheading-about;
        color: var(--color-orange-base);
        font-weight: 700;
    }

    &__agency-title {
        font-family: var(--font-family-alternative);
        @include fluid-title-size-about;
        color: #181E4B;
        margin-top: 25px;
        position: relative;
        

        &::before {
            content: "";
            display: block;
            background-image: url('/icons/decoration-about-agency-title.svg');
            background-repeat: no-repeat;
            width: 396px;
            height: 14px;
            position: absolute;
            right: -65px;
            top: 70px;
            z-index: -10;
        }
    }

    

    &__agency-subtitle {
        font-family: var(--font-family-additional);
        font-weight: 500;
        color: #5E6282;
        font-size: 19px;
        line-height: 187.5%;
        margin-top: 30px;
    }

    &__agency-buttons {
        display: flex;
        align-items: center;
        column-gap: 45px;
    }

    &__agency-button_more {
        display: inline-block;
        text-decoration: none;
        padding: 16px 25px;
        background-color: #F1A501;
        border-radius: 10px;
        color: #fff;
        font-family: var( --font-family-base);
        font-weight: 500;
    }

    &__agency-button_play {
        background-image: url('/icons/about__agency-button-play.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 12px;
        height: 12px;
        background-color: var(--color-orange-base);
        border-radius: 50%;
        padding: 25px;
        border: none;
        cursor: pointer;
    }

    &__agency-button_wrapper {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__button-play_info {
        color: #686D77;
        font-family: var(--font-family-additional);
        font-weight: 500;
        font-size: 17px;
    }
}

.service {
    padding-block: 105px 123px;
    text-align: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url('/images/service-decoration-before.svg');
        background-repeat: no-repeat;
        width: 153px;
        height: 166px;
        right: 0;
        top: 105px;
        z-index: -10;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__subheading {
        font-family: var(--font-family-base);
        text-transform: uppercase;
        font-weight: 700;
        color: #5E6282;
    }

    &__title {
        font-family: var(--font-family-alternative);
        font-size: 50px;
        font-weight: 700;
        color: #14183E;
        margin-top: 15px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat( 4, 255px);
        grid-template-rows: auto;
        justify-content: space-between;
        list-style-type: none;
        margin-top: 70px;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    &__list-title {
        font-size: 18px;
        font-weight: 600;
        font-family: var(--font-family-base);
        margin-top: 25px;
        color: #1E1D4C;
    }

    &__list-subtitle {
        font-family: var(--font-family-additional);
        color: #5E6282;
        font-weight: 500;
        line-height: 162.5%;
        font-size: 16px;
        margin-top: 20px;
    }

}
.service--flights {
    box-shadow: #686d775b 0 10px 15px -8px;
    border-radius: 30px;
}
.service--flights::before {
    content: "";
    display: block;
    background-image: url('/images/service--flights-image.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 129px;
    height: 91px;
}
.service--weather::before {
    content: "";
    display: block;
    background-image: url('/icons/service--weather-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 95px;
    height: 80px;
}
.local--events::before {
    content: "";
    display: block;
    background-image: url('/images/local--events-image.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 70px;
    height: 76px;
}
.service--customization::before {
    content: "";
    display: block;
    background-image: url('/images/service--customization-image.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 77px;
    height: 66px;
}

@media (max-width: 1162px) {
    .header {
        &__inner {
            flex-wrap: wrap;
        }

        &__menu-link {
            
        }
    }
}

@media (max-width: 1000px) {
    .header {
       
    }
}
